.panel
{
	
	 margin: auto;
}
h3
{
	color: #343a40;
	font-weight: bold;
	text-shadow: 2px 2px 4px #717171;
	font-size: 20px;
}

.panel-body
{
	color:#808080;
	font-size:12px;
}

 a:hover
 {
 	color: none !important;
 	border-color: none !important;
 	border:2px !important;
  	background-color: none !important;
 }

 id:hover
 {
 	border-color: none !important;

 }